::rot{
    --width : 100vw
}
.unreadNotificationDiv{
    background-color: #5d5fef3b;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    color: rgb(29, 29, 29);
    padding-top: 5px;
    padding-bottom: 5px; 
}
.notificationDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    color: rgb(29, 29, 29);
    padding-top: 5px;
    padding-bottom: 5px;  
    
}
.notificationPicture{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-left: 10px;
    color: rgb(165, 165, 165);
    object-fit: cover;
}
.notificationDetail{
    margin-left: 10px;
    width: calc(100% - 100px);

    }
.notificationStatus{
    margin: 0;
    font-size: smaller;
    text-align: left;
}
.notificationName{
    margin: 0;
    text-align: left;
    font-size: medium;
    font-weight: 700;
}
.notificationContent{
    font-size: medium;
    text-align: left;
    
}