.userDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(73, 73, 73);
    background-color: transparent;
}
.userPictureSmall{
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 45px;
    color: rgb(192, 192, 192);
    object-fit: cover;
}
.userPicture{
    height: 90px;
    width: 90px;
    margin: 10px;
    border-radius: 45px;
    color: rgb(192, 192, 192);
    object-fit: cover;
}
.userDetails{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    }
.followDiv{
    display: flex;
    flex-direction: row;
    align-items: left;
}
.userStatus{
    margin: 0;
    font-size: small;
    text-align: left;
}
.username{
    margin: 0;
    text-align: left;
    font-size:21px;
    font-weight: 500;
    color: rgb(37, 37, 37);
}
.button{
    outline: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.followUser{
    background-color: #5D5FEF;
    border: none;
    color: white;
    outline: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
}
.followingUser{
    background-color: transparent;
    border: 1px solid #696767;
    color: #5D5FEF;
    outline: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.userRemove{
    background-color: #EF5DA8;
    border: none;
    color: white;
    outline: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    outline: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}