.upload-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
    background-color: #ffffff67;
  }
  .close-upload{
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: large;
    margin-right: 100%;
    margin-top: 10px;
    margin-left: 10px;
  
  }
  .upload-menu-body{
    background-color: rgb(255, 255, 255);
    height: auto;
    min-height: 200px;
    width: calc(var(--width) - 20px);
    border-radius: 5px;
    box-shadow: 0 1px 10px;
    padding: 10px;
  }
  
  .upload-menu-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }
  .upload{
    width: 90%;
    height: 50px;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: 1px solid #5D5FEF;
    font-weight: 800;
    margin-bottom: 10px;
    color: #5D5FEF;
  }
  .upload-menu-title{
    color: #5D5FEF;
    margin: 10px;
  }
  .close-upload-menu{
    font-weight: 700;
    margin: 10px;
    background-color: #EF5DA8;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
  }
  .upload-picked{
    font-weight: 700;
    margin: 10px;
    background-color: #5D5FEF;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    height: 50px;
  }
  .uploading-view{
    width: calc(var(--width) - 30px);
    background-color: white;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 1px 10px;
  }
  #uploading-dp{
    height: 40px;
    width: 90%;
  }
  .temp-profilepic-preview{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #5D5FEF;
    background-color: #5D5FEF;
    object-fit: cover;
  }
  .temp-avatar-prev{
    width: 100%;
    height: 100%;
    margin-top: 0;
    color: white;
  }