.peopleHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

}
.peopleBody{
    background-color: white;
    padding-bottom: 20px;
}
.searchButton{
    padding: 5px;
    border-radius: 19px;
    height: 38px;
    width: 38px;
    border: none;
    outline: none;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;

}
.searchIcon{
    height: 23px;
    width: 23px;
}
.loadMore{
    background-color: #5D5FEF;
    width: calc(100% - 30px);
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}
.notifRefresh{
    margin-left: auto;
    margin-right: 5px;
    padding: 5px;
    border-radius: 20px;
    border:none;
    height: 35px;
    width:60px;
    background-color: #EF5DA8;
    color: rgb(255, 255, 255);
    font-weight: 500;
    

}