:root{
    --left: calc(768px - 457px);
}
*{
    scroll-behavior: smooth;
}
.active{
    height: 59px;
    border-bottom: 5px solid #5D5FEF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: #5D5FEF;
}
.inactive{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.homeBody{
    width: 100%;
    height: calc(100vh - 60px);
}
.section-title{
    margin: 10;
    text-align: left;
    margin-left: 10px;
    color: rgb(26, 26, 26);
}
.postList{
    width: 100%;
    height: auto;
    
}
.homeTitle{
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.refreshFeeds{
    background-color: #EF5DA8;
    width: 25%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}
.inactive:hover{
    background-color: #ffffff3a;
}
.primaryButton{
    width: 70%;
    height: auto;
}
.primaryButtonIcon{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.primaryButton button{
    
    width: 98%;
    height: 50px;
    border-radius: 5px;
    background-color: #5D5FEF;
    border: none;
    color: white;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  
  }

#uploading{
    width: 100%;
}
#progress_label{
    font-weight: 700;
    font-size: small;
}
.loadMore{
    background-color: #5D5FEF;
    border:none;
    color: #ffffff;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    width: calc(100% - 10px);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
.loadingDiv{
    padding: 30px;
}
.scrollUp{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    background-color: #ffffff;
    border: none;
    color: #5D5FEF;
    box-shadow: 1px 1px 8px #000000f8;
    left:calc(var(--left));
    border-radius: 50%;
    font-size: xx-large;
    display: grid;
    place-items:center;
    text-decoration: none;
    outline: none;
}
.postLoading{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: white;
}
@media only screen and (max-width: 768px){
    :root{
        --left: 15px;
    }
}