.view-post{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
}
.post-header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #EF5DA8;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.post-title{
    margin-left: 20px;
}
.back{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-post-heading{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}
.alt-dp{
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: #d0d0d0;
}
.view-post-heading-details{
    text-align: left;
    margin-right: auto;
    margin-left: 5px;
}
.view-post-heading-details h4, p{
    margin: 0;
}
.view-post-heading-details p{
    font-size: small;
    color: rgb(102, 102, 102);
}
.content-text{
    width: 100%;
    height: auto;
    text-align: left;
    padding:10px ;
}
.content-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    margin-top: 20px;
}
.post-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.like-button{
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: rgb(34, 34, 34);
    
}
.like-icon{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.comment-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(102, 102, 102);
    font-size: small;
}
.comment-count{
    margin-right: 2px;
}

.single{
    width: 100%;
    object-fit:cover;
    height:auto;
}
.double{
    width: 50%;
    height: 300px;
    object-fit: cover;
}
.tripple{
    object-fit: cover;
    width: 50%;
    
}
.tripple-row{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.quad{
    object-fit: cover;
    width: 50%;
    height: 200px;
    
}
.images-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.content-photo{
    padding: 1px;
}
.content-loading{
    background-color: rgb(221, 221, 221);
}
.more-btn{
    width: 100%;
    height: 40px;
    background-color: #EF5DA8;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}