.people{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

}
.headingTitle{
    margin-left: 10px;
}
.headingTool{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    border-bottom: 1px solid grey;
}
.searchButton{
    padding: 5px;
    border-radius: 19px;
    height: 38px;
    width: 38px;
    border: none;
    outline: none;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
.searchIcon{
    height: 23px;
    width: 23px;
}
.peopleList{
    padding-bottom: 10px;
}
.divider{
    margin-left: 10px;
    margin-right: 10px;
    color: grey;
}
.loadMore{
    background-color: rgb(209, 209, 209);
    width: calc(100% - 30px);
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.searchHeader{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.searchDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 199, 199);
    width: fit-content;
    padding: 8px;
    border-radius: 25px;
    width: calc(100% - 40px);
    margin-left: 5px;

}
.searchInput{
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: large;
    width: 90%;
}
.searchBack{
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}